/*.highlight{
	color: #f00;
}*/




















/*.highlight{
	color: #00F;
}
.item{
	margin-left: 8px
}*/



































/*.box{
	width: 100px;
	height: 100px;
	background-color: #CFC;
}

.highlight{
	background-color: #FCC;
}*/












/*
.box{
	width: 100px;
	height: 100px;
	background-color: #CFC;
}
.box-button{
	width: 100px;
	height: 20px;
	background-color: #CCF;


	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.highlight{
	background-color: #FCC;
}*/




















body{
	background-color: #EEE;
}
#container{
	background-color: #FFF;
	padding: 12px;
	margin: 12px;
}
.item{
	width: 200px;
	background-color: #DDD;
	padding: 4px;
	float: left;
	margin-right: 4px;
}
.item img{
	width: 100%;
}
.item .name{
	font-size: 24px;
}
.item .price{
	margin-top: 8px;
	margin-bottom: 8px;
}

/*//////////////
TOGGLE VISIBILITY
////////////////*/
.item .more-info{
	display: none;
}