/*.highlight{
	color: #f00;
}*/




















/*.highlight{
	color: #00F;
}
.item{
	margin-left: 8px
}*/



































/*.box{
	width: 100px;
	height: 100px;
	background-color: #CFC;
}

.highlight{
	background-color: #FCC;
}*/












/*
.box{
	width: 100px;
	height: 100px;
	background-color: #CFC;
}
.box-button{
	width: 100px;
	height: 20px;
	background-color: #CCF;


	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.highlight{
	background-color: #FCC;
}*/




















body{
	background-color: #EEE;
}
#myImg{
	height: 75px;
	width: 75px;
}
#container{
	background-color: #FFF;
	padding: 12px;
	height: 100%;
	margin: 12px;
}